<section class="hero">
	<div class="owl-carousel owl-theme">
		<div class="viewport view-1">
			<div class="hero-inner">
				<h1>Five O'clock</h1>
				<h2>&#x2727; Tea Shop &#x2727;</h2>
			</div>
		</div>
		<div class="viewport view-2">
			<a href="#">
				<div class="hero-inner">
					<h1>Herbal Tea</h1>
					<h2>Discover our selection of herbal teas</h2>
				</div>
			</a>
		</div>
		<div class="viewport view-3">
			<a href="#">
				<div class="hero-inner">
					<h1>Pastries</h1>
					<h2>Our homemade pastries to make perfect teaparty</h2>
				</div>
			</a>
		</div>
		<div class="viewport view-4">
			<a href="#">
				<div class="hero-inner">
					<h1>Tea time tutorial</h1>
					<h2>Planning the party</h2>
				</div>
			</a>
		</div>
		<div class="viewport view-5">
			<a href="#">
				<div class="hero-inner">
					<h1>Tea facilities</h1>
					<h2>Elegant things for better life</h2>
				</div>
			</a>
		</div>
	</div>
</section>