		<footer>
			<div class="footer-wrap">
				<p>
					&#xa9; 2018 Five o'clock tea shop. 
					Lovingly designed by <a href="#">Good things media</a>.
				</p>
				<div class="social-media">
					<a class="social-link-1" href="#"></a>
					<a class="social-link-2" href="#"></a>
					<a class="social-link-3" href="#"></a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>