<div class="shop-header">
	<div class="nav-tittle">
		<h2>Choose your sort of tea</h2>
	</div>
	<div class="tea-nav">
		<ul>
			<li><a href="#"><span>Green</span></a></li>
			<li><a href="#"><span>Black</span></a></li>
			<li><a href="#"><span>Pu-Erh</span></a></li>
			<li><a href="#"><span>White</span></a></li>
			<li><a href="#"><span>Oolong</span></a></li>
			<li><a href="#"><span>Herbal</span></a></li>
			<li><a href="#"><span>Matcha</span></a></li>
			<li><a href="#"><span>Blends</span></a></li>
		</ul>
	</div>
</div>